@tailwind base;
@tailwind components;
@tailwind utilities;

.content-main {
  height: calc(100vh - theme(spacing.16));
}

.content-area {
  height: calc(100vh - theme(spacing.44));
}

.blink {
  animation: blinker 1.4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.select:disabled,
.select[disabled] {
  color: inherit;
}

.input:disabled,
.input[disabled] {
  color: inherit;
}

li input.input.input-bordered.select-search-input {
  @apply bg-slate-100;
}
