@tailwind base;
@tailwind components;
@tailwind utilities;

.content-main {
  height: calc(100vh - theme(spacing.16));
}

.content-area {
  height: calc(100vh - theme(spacing.44));
}

.blink {
  animation: blinker 1.4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.roster-select.select:disabled,
.roster-select.select[disabled] {
  color: black;
  opacity: 1;
}
