node_modules

/.cache
/build
/public/build
.env
.env.*
storageState*

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/test-results/
/playwright-report/
/playwright/.cache/
/coverage/
/dev_sessions/

__azurite*
__blobstorage__
.react-router/
/prisma/client