/test-results
/coverage
/playwright-report

/__blobstorage__
__azurite_db_blob__.json
__azurite_db_blob_extent__.json

/build
/public/build
.env
.husky
.vscode
*.prisma
*.snap
package-lock.json
storageState.json

/dev_sessions
